
services:
  postgres:
    image: postgres:16
    container_name: promocode-factory-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: promocode_factory_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data: