name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: promocode_factory_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres -d promocode_factory_db"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Install dotnet-ef
      run: dotnet tool install --global dotnet-ef --version 8.*
      
    - name: Add dotnet tools to PATH
      run: echo "${HOME}/.dotnet/tools" >> $GITHUB_PATH

    - name: Restore dependencies
      run: dotnet restore ./Homeworks/EF/src/PromoCodeFactory.sln

    - name: Build
      run: dotnet build ./Homeworks/EF/src/PromoCodeFactory.WebHost/PromoCodeFactory.WebHost.csproj --no-restore --configuration Release

    - name: Run migrations
      run: |
        dotnet ef database update \
          --project "./Homeworks/EF/src/PromoCodeFactory.DataAccess/PromoCodeFactory.DataAccess.csproj" \
          --startup-project "./Homeworks/EF/src/PromoCodeFactory.WebHost/PromoCodeFactory.WebHost.csproj"
