name: Dotnet EF Check
on:
  workflow_dispatch:

jobs:
  check-ef:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Check dotnet ef
        run: dotnet ef --version
